#body{
    background-color: #f4c5de;
    border-radius: 15px;
}
.btn{
    position: absolute;
    top: 10px;
    width: 100px;
    height: 80px;
    font-size: 50px;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    background-color: transparent;
}
#main{
    width: 600px;
    height: 680px;
    position: relative;
    left: 100px;
    background-color: #570933;
    border-radius: 40px;
}
#tablo{
    position: absolute;
    left: 48px;
    top: 30px;
    width: 500px;
    height: 110px;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    font-size: 50px;
    vertical-align: 80%;
    background-color:#ad407a;
}
.firstRow{
    position: absolute;
    left: 30px;
    top: 150px;
    width: 540px;
    height: 100px;
}
#number7{
    left: 23px;
}
#number8{
    left: 153px;
}
#number9{
    left: 283px;
}
#multiply{
    left: 413px;
}
.secondRow{
    position: absolute;
    left: 30px;
    top: 260px;
    width: 540px;
    height: 100px;
}
#number4{
    left: 23px;
}
#number5{
    left: 153px;
}
#number6{
    left: 283px;
}
#divide{
    left: 413px;
    font-size: 40px;
}
.thirdRow{
    position: absolute;
    left: 30px;
    top: 370px;
    width: 540px;
    height: 100px;
}
#number3{
    left: 23px;
}
#number2{
    left: 153px;
}
#number1{
    left: 283px;
}
#plus{
    left: 413px;
    font-size: 40px;
}
.fourthRow{
    position: absolute;
    left: 30px;
    top: 480px;
    width: 540px;
    height: 100px;
}
#number0{
    left: 23px;
    width: 230px;
}
#clear{
    left: 283px;
    font-size: 45px;
}
#minus{
    left: 413px;
    font-size: 40px;
}
#end{
    position: absolute;
    left: 50px;
    top: 590px;
    width: 500px;
    height: 50px;
    border-radius: 20px;
    font-size: 40px;
}
select{
    position: absolute;
    left: 1100px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
}
#submit{
    position: absolute;
    left: 1230px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #8b898b ;
    background-color: white;
    color: black;
}
#second{
    position: absolute;
    top: 280px;
    left: 800px;
    width: 250px;
    height: 410px;
    border-radius: 30px;
    border: 1px solid #8b898b;
    background-color: #ad407a;
}
h1{
    position: absolute;
    top: 240px;
    left: 870px;
    font-family: arial;
    font-size: 20px;
    color: #554e53;
}
p{
    position: absolute;
    top: 10px;
    left: 20px;
    color: white;
}