body{
    background-color: #f4c5de;
    border-radius: 15px;
}
.btn{
    width: 100px;
    padding: 10px;
    font-size: 50px;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    background-color: transparent;
}
.main{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
#calcSection{
    width: 600px;
    height: 680px;
    margin: 60px 20px 0px;
    background-color: #570933;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#tablo{
    width: 500px;
    height: 110px;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    font-size: 50px;
    background-color:#ad407a;
}
.row{   
    width: 540px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
#clear{
    font-size: 45px;
}
#minus{
    font-size: 50px;
}
#end{
    width: 500px;
    height: 60px;
    border-radius: 20px;
    font-size: 40px;
}
select{
    width: 120px;
    height: 40px;
    border-radius: 10px;
}
#submit{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #8b898b ;
    background-color: white;
    color: black;
}
#second{
    width: 250px;
    height: 410px;
    color: white;
    border-radius: 30px;
    border: 1px solid #8b898b;
    background-color: #ad407a;
}
h1{
    font-family: arial;
    font-size: 20px;
    color: #554e53;
    text-align: center;
}

@media screen and (max-width: 1200px){
    .main{
        flex-wrap: wrap;
    }
    #calcSection{
        transform: scale(.8);
        margin: 4px 2px;
    }
}
@media screen and (max-width: 650px){
    #calcSection{
        transform: scale(.6);
        margin: 0px 2px;
    }
}
